@import url('https://fonts.googleapis.com/css?family=Solway&display=swap');

* {
    box-sizing: border-box;
}

/* quiz and question area*/

body {
    background-color: aliceblue;
    font-family: 'Solway', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    min-height: 100vh;
}

.quiz-container {
    
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 5px 5px rgb(107, 104, 104);
    width: 600px;
    max-width: 100%;
}

.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgb(86, 165, 235, 0.25);
    background-color: white;
  } 

  .choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  }
  

.quiz-header {
    padding: 2rem;
}

#rascal {
    font-size: 50px; 

}

h2 {
    margin: 0;

}



.answers {
    margin: 1rem 0;
    font-size: 1.1rem;
    cursor: pointer;
    
} 

/* styling for all buttons*/

button {
    background-color:rgb(101, 147, 233);
    font-family: inherit;
    font-size: 1.3rem;
    cursor: pointer;
    color: white; 
    display: block;
    width: 100%;
    padding: 1.3rem;
    border: none;
}

button:hover {
    background-color: rgb(58, 124, 245);
}

/* hide to not display elements with hide class until called */

.hide {
    display: none;
}

/* highlights selected answers for better UX*/

.selected {
    background-color: rgba(86, 185, 235, 0.5);
    padding: .1rem 0; 

}  

/* styling and repsonsivness for logo*/

.logo {
    
    padding-right: 5px;
}

img {
    width: 100%;
    height: auto;
    padding: 0px 10px 0px 10px;
    overflow: hidden;
}

/* Score section at end of game*/

 #scored {
    font-size: 40px;
 }

 #finalScore {
    font-size: 40px;
 }